<section class="card">
  <div class="card-header">
    <h1>Existing Username</h1>
  </div>
  <div class="card-body">
    <p class="card-text">Error: the username already exist in our database. Please try to <a href="/login">sing up</a> with a different username.</p>
  </div>
</section>

