{{#if about_us}}
  <div class="card">
    <div id="about-us" class="card-header">
      <h3>About Us</h3>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
{{/if}}
<section class="card">
  <div class="card-header">
    <h1>404</h1>
  </div>
  <div class="card-body">
    <p class="card-text">No services available for display</p>
  </div>
</section>
{{#if business_hours}}
  <div class="card">
    <div id="business-hours" class="card-header">
      <h3>Business Hours</h3>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
{{/if}}
