{{#if about_us}}
  <div class="card">
    <div id="about-us" class="card-header">
      <h3>About Us</h3>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
{{/if}}
<section>
  <div class="card">
    <div class="card-header">
      <h3>Services</h3>
    </div>
  </div>
  {{#each services.services as |service|}}
    <div class="card ">
      <div id="services" class="card-header">
        <h3>{{name}}</h3>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Service Details</h5>
              <p class="card-text">Description: {{description}}</p>
              <p class="card-text">Regular Price: ${{price}}</p>
              <p class="card-text">Special Price: ${{descounted_price}}*</p>
              <p class="card-text special">*Offered after every five purchases.</p>
              <a href="/appointment" class="btn btn-light serv-btn">Book Lashes!</a>
            </div>
          </div>
        </div>
      </div>
  {{/each}}
</section>
{{#if business_hours}}
  <div class="card">
    <div id="business-hours" class="card-header">
      <h3>Business Hours</h3>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
{{/if}}
